/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos do formulário */
form {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  max-width: 600px;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 20px;
}

/* Estilos dos campos de entrada */
input {
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 77px;
  font-size: 1.4em;
  padding: 5px 10px;
  outline: none;
}

input:focus {
  border-color: #3533CD;
}

/* Estilos do botão */
button {
  height: 40px;
  font-size: 1.4em;
  border: none;
  border-radius: 7px;
  background-color: rgb(78, 78, 78);
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 0 20px;
}

button:hover {
  border-radius: 77px;
  background-color: #2c7dee;
}
